.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.form {
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  select {
    flex: 1;
    text-transform: capitalize;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    option {
      text-transform: capitalize;
    }
  }
  button {
    flex: 0.4;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .form {
    gap: 1.3rem;
    select {
      flex: 1;
    }
    button {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
}
